@import '../../sassResources/fonts.scss';

.my-tasks-container {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 20px;
  margin: 3% 0 3% 3%;
  padding: 20px;
  overflow-y: auto;

  .my-tasks-subcontainer {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(68, 68, 68);
    text-decoration: underline;
  }

  .task {
    padding-top: 10px;
    min-height: 200px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    background: hsla(263, 42%, 65%, 1);

    background: linear-gradient(45deg, hsla(263, 42%, 65%, 1) 0%, hsla(319, 77%, 86%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(263, 42%, 65%, 1) 0%, hsla(319, 77%, 86%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(263, 42%, 65%, 1) 0%, hsla(319, 77%, 86%, 1) 100%);
    .icons {
      position: absolute;
      right: 5px;
      top: 5px;
      display: flex;
      gap: 3px;

      .checkmark:hover {
        cursor: pointer;
        color: green;
      }
      .importance-star:hover {
        cursor: pointer;
        color: yellow;
      }
    }
  }

  .main-col {
    font-size: 17px;
    width: 100%;
    display: flex;
    padding-left: 10px;

    flex-direction: column;

    justify-content: space-between;

    div {
      width: 100%;

      font-family: $poppinsFont;
    }
    .date-col,
    .desc-col,
    .subtask-col {
      font-size: 15px;
      color: rgb(68, 68, 68);
      display: flex;
      align-items: center;
      white-space: pre-wrap;
      margin-top: 5px;

      .show-subtasks {
        color: rgb(195, 54, 255);
        transition-duration: 0.3s;
      }
      .show-subtasks:hover {
        cursor: pointer;
        color: blue;
      }
    }
    .name-col {
      color: black;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}
.my-tasks-container::-webkit-scrollbar {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(188, 122, 250);
}
.my-tasks-container::-webkit-scrollbar-thumb {
  background-color: rgb(102, 102, 255);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.subtasks {
  ul {
    list-style-type: none;
    padding-left: 20px;
    width: 100%;
    display: flex;
    font-size: 13px;
    margin-top: 10px;
    font-size: $poppinsFont;
    color: rgb(80, 80, 80);
    font-style: italic;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      svg:hover {
        cursor: pointer;
        color: green;
      }
    }
  }
}
.subtasks ul{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
