* {
  box-sizing: border-box;
}
.right-panel {
  header {
    display: flex;
    width: 100%;
    padding-left: 10px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    background-color: #171717;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 60px;
    align-items: center;
  }
}
