@import '../../sassResources/fonts.scss';
body {
  background-color: rgb(213, 213, 213);
}
body,
.register-container {
  overflow-x: hidden;
  overflow-y: auto;
}
.register-container {
  width: 100vw;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-area {
  width: 90%;
  height: 90vh;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 830px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  overflow: hidden;

  .photo-area {
    width: 80%;
    height: 100%;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url('../../images/register-photo.jpg');
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;

    .afterglow {
      width: 100%;
      height: 100%;
      background-color: #171717;
      opacity: 0.3;
    }
  }

  .input-area {
    width: 40%;
    height: 100%;
    display: flex;

    flex-direction: column;
    header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      background-color: #171717;
    }
    h2 {
      font-family: $poppinsFont;
      font-size: 30px;
      color: white;

      font-weight: 900;
    }
  }
  .inputs {
    padding-left: 30px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;

    padding-top: 30px;

    label {
      display: flex;
      font-size: 16px;

      font-family: $poppinsFont;
      color: rgb(164, 164, 164);
    }

    input[type='text'],
    input[type='password'] {
      width: 70%;
      border: none;
      border-bottom: 3px solid black;
      margin: 10px 0 10px 0;
      font-size: 20px;
      color: black;
      font-family: $poppinsFont;
      font-weight: 700;
      transition: 0.5s border-bottom;
      font-style: italic;
    }
    input[type='text']:focus,
    input[type='password']:focus {
      outline: none;
      border: none;
      border-bottom: 3px solid rgb(0, 0, 0);
      font-weight: 400;
      font-style: normal;
    }
  }
  .buttons {
    padding-top: 50px;
    width: 70%;
    display: flex;
    height: 50px;

    input {
      width: 250px;
      height: 60px;
      background-color: #171717;
      border: none;
      outline: none;
      color: white;
      font-size: 20px;
      font-weight: 700;
      border-radius: 10px;
      letter-spacing: 1px;
      font-style: italic;
      -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
      -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
      box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    }
    input:hover {
      cursor: pointer;
    }
  }
}
.haveAnAcc {
  z-index: 100;
  color: black;
  font-size: 20px;
}
// img {
//   width: 100%;
//   height: 120%;
//   position: relative;
//   bottom: 20px;
// }
form {
  margin-bottom: 100px;
}
.redirectInfo {
  font-family: 'Poppins', sans-serif;
  color: rgb(164, 164, 164);

  .redirectLink {
    color: black;
    font-weight: bold;
  }
  .redirectLink:hover {
    cursor: pointer;
  }
}
